@media screen and (min-width: 768px) {
  .slider-title {
    font-size: 20px;
    width: 320px;
    bottom: 20px;
    left: 20px;
  }
  .filter-container .two-elements p {
    font-size: 18px;
  }
  .filter-container .input-elements .submit-button {
    font-size: 18px;
  }
  .footer-part {
    width: 700px;
    flex-direction: unset;
    justify-content: space-between;
  }
}
